<form action="<%= formAction %>" method="POST">
  <% if (!isEdit) { %>
    <label for="userName">Choose a user:</label>
    <input type="text" name="userName" id="userInput" autocomplete="off"
           placeholder="Enter username"
           value="<%= message?.username || '' %>" required />
    <div id="suggestions"></div>
    <input type="hidden" id="userId" name="userId" value="<%= message?.userId || '' %>" />

    <script>
      window.userList = <%- JSON.stringify(userList) %>;
    </script>
    <script src="/js/userSelect.js"></script>
  <% } else { %>
    <p><strong>User:</strong> <%= message?.username %></p>
    <input type="hidden" name="userId" value="<%= message?.userId %>" />
  <% } %>
  <label for="content">Message:</label>
  <textarea name="content" required><%= message?.content || '' %></textarea>

  <button type="submit">Submit</button>
</form>

<script>
  window.userList = <%- JSON.stringify(userList) %>;
</script>
<script src="/js/userSelect.js"></script>