<html>
  <head>
    <link rel='stylesheet' href='/style.css'>
    <title><%= title %></title>
  </head>
  <body>
    <div class='messageboard'>
      <ul>
        <% messages.forEach(message => { %>
          <li>
            <strong><%= message.username %></strong>: <br>"<%= message.content %>"
          </li>
          <form action="/<%= message.id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
          </form>
          <form action="/<%= message.id %>/edit" method="GET">
            <button type="submit">Update</button>
          </form>
        <% }) %>
      </ul>
    </div>
    <a href='/new'>
      <span>New Message</span>
    </a>
  </body>
</html>